body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

#cabecera {
  background: #33a;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 00.75);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}
